.input-wrapper {
    height: 10em;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    flex-direction: column;
    padding: 18px;
}

.result {
    flex: 1;
    font-size: 24px
}

.text {
    flex: 1;
    font-size: 16px;
}